@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import "./base/variables.css";
@import "./base/animations.css";

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: var(--font-family);
  background-color: var(--background);
  color: var(--text-primary);
}

#root {
  min-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  padding-top: 150px;
  box-sizing: border-box;
}


a {
  font-weight: 500;
  color: var(--secondary);
  text-decoration: inherit;
}

a:hover {
  color: var(--secondary-dark);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--primary);
}

button {
  border-radius: var(--border-radius-md);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  transition:
    border-color 0.25s,
    background-color 0.25s;
}

button:hover {
  border-color: var(--secondary);
  background-color: var(--secondary);
}

button:focus,
button:focus-visible {
  outline: 4px auto var(--secondary);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-primary);
    background-color: var(--background);
  }

  a:hover {
    color: var(--secondary-dark);
  }

  button {
    background-color: var(--secondary-light);
    color: var(--text-primary);
  }

  button:hover {
    background-color: var(--secondary);
    color: white;
  }
}

.swal2-container {
  z-index: 1400 !important;
}

.MuiGrid-container {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
}

