/* inventoryManagementModal.css */
.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  background-color: white;
}

/* Efecto hover en las tarjetas */
.modal .MuiPaper-root:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


/* Scrollbar personalizado para las secciones del modal */
.MuiDialogContent-root::-webkit-scrollbar {
  width: 6px;
}

.MuiDialogContent-root::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}