.modal .MuiDialog-paper {
  font-family: var(--font-family);
  border-radius: var(--border-radius-lg) !important;
  overflow: hidden;
}
.modal-title {
  color: var(--primary-dark);
  font-weight: 600;
  font-size: 1.4rem;
  background-color: var(--gray-100);
  padding: var(--spacing-md) var(--spacing-lg);
  border-bottom: 1px solid var(--gray-300);
}
.modal-content {
  padding: var(--spacing-lg);
  background-color: var(--gray-100);
}

/* Acciones del modal */
.modal-actions {
  padding: var(--spacing-md) var(--spacing-lg);
  background-color: var(--gray-100);
  border-top: 1px solid var(--gray-300);
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-sm);
}

/* Estilo base para botones */
.modal-button {
  border-radius: var(--border-radius-sm);
  text-transform: none;
  font-weight: 500;
  transition:
    background-color var(--transition-normal),
    color var(--transition-normal);
  min-width: 100px;
  padding: var(--spacing-xs) var(--spacing-md);
}

.modal-button--primary {
  background-color: var(--primary);
  color: white;
}

.modal-button--primary:hover {
  background-color: var(--primary-dark);
}
.modal-button--primary:disabled {
  background-color: var(--gray-300);
  color: var(--gray-700);
  cursor: not-allowed;
}

/* Estilo para botón secundario */
.modal-button--cancel {
  background-color: transparent;
  color: var(--gray-700);
  border: 1px solid var(--gray-300);
}

.modal-button--cancel:hover {
  background-color: var(--gray-200);
  border-color: var(--gray-700);
}

.modal-no-types-message {
  padding: var(--spacing-sm);
  color: var(--gray-700);
  font-style: italic;
  text-align: center;
}
