.order-item-paper {
  padding: var(--spacing-md);
  background-color: var(--gray-100) !important;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 6px solid var(--gray-300);
  transition: all 0.3s ease;
  border-right: 1px solid transparent;
}

.order-item-paper:hover {
  transform: translateY(-4px);
  box-shadow: var(--shadow-lg) !important;
}

.order-item-content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.order-item-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-sm);
  flex-wrap: wrap;
  gap: var(--spacing-sm);
  align-items: flex-start;
}

.order-item-summary {
  margin-top: var(--spacing-sm);
  padding-left: var(--spacing-md);
}

.order-item-summary ul {
  padding-left: 20px;
  font-size: 0.9rem;
  color: var(--gray-700);
  margin-top: var(--spacing-xs);
  margin-bottom: 0;
  list-style-type: disc;
}

.order-item-status-chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  padding: 4px 12px;
  border-radius: 16px;
  font-weight: 600;
  font-size: 0.75rem;
  color: white; 
  min-width: 100px;
  text-transform: capitalize;
  margin-top: 4px;
}

/* --- Colores de Borde Izquierdo --- */
.status-pendiente_de_pago { border-color: var(--warning); }
.status-en_proceso { border-color: var(--info); }
.status-enviado { border-color: var(--secondary); }
.status-completado { border-color: var(--success); }
.status-cancelado { border-color: var(--error); }

/* --- Colores de Fondo para el Chip --- */
.chip-pendiente_de_pago {
  background-color: var(--warning);
  color: var(--gray-900) !important;
}
.chip-en_proceso {
  background-color: var(--info);
}
.chip-enviado {
  background-color: var(--secondary);
}
.chip-completado {
  background-color: var(--success);
}
.chip-cancelado {
  background-color: var(--error);
}

.status-confirmado { border-color: var(--info); }
.chip-confirmado { background-color: var(--info); }