.order-item-paper {
  padding: var(--spacing-md);
  background-color: var(--gray-100) !important;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);
  height: 100%;          
  display: flex;         
  flex-direction: column;  
  justify-content: space-between; 
  border-left: 6px solid var(--gray-300);
  transition: all 0.3s ease;
}

.order-item-paper:hover {
  transform: translateY(-4px);
  box-shadow: var(--shadow-lg) !important;
}

.order-item-content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.order-item-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-sm);
  flex-wrap: wrap;
  gap: var(--spacing-sm);
  align-items: center;
}

.order-item-summary {
  margin-top: var(--spacing-sm);
  padding-left: var(--spacing-md);
}

.order-item-summary ul {
  padding-left: 20px;
  font-size: 0.9rem;
  color: var(--gray-700);
  margin-top: var(--spacing-xs);
  margin-bottom: 0;
  list-style-type: disc;
}

.order-item-status-chip {
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: 16px;
  font-weight: 600;
  font-size: 0.8rem;
  color: white; 
  text-align: center;
  min-width: 90px;
  text-transform: capitalize;
}

/* --- Colores de Borde Izquierdo --- */
.status-confirmado { border-color: var(--info); }
.status-en_preparacion { border-color: var(--primary); }
.status-listo_para_entrega { border-color: var(--secondary); }
.status-en_camino { border-color: var(--info-dark); }
.status-rechazado { border-color: var(--error-dark); }

/* --- Colores de Fondo para el Chip --- */
.chip-confirmado {
  background-color: var(--info);
}

.chip-en_preparacion {
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

.chip-listo_para_entrega {
  background-color: var(--secondary);
}

.chip-en_camino {
  background-color: var(--info-dark);
}

.chip-rechazado {
  background-color: var(--error-dark);
}